learn.txt
cat_rag_project_specification.docx
c_r_venv
requirements.txt
.env
app/__init__.py
app/__pycache__/
app/api/__init__.py
app/api/__pycache__/
app/api/routes/__init__.py
app/api/routes/__pycache__/
app/core/__init__.py
app/core/__pycache__/
app/schemas/__pycache__/
app/services/__pycache__/
tests/__init__.py
app/middleware/__pycache__/
app/ingestion/__pycache__/
app/ingestion/parsers/__pycache__/
/tests/__pycache__
app/vectorstore/__pycache__
qdrant_storage/
app/retrieval/__init__.py
app/retrieval/__pycache__/
app/llm/__pycache__/
app/llm/providers/__pycache__/
sample.txt
try.py
app/rag/__pycache__
app/graph/__pycache__